# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environments
venv/
.venv/
env/

# Streamlit
.streamlit/secrets.toml

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# OS Files
Thumbs.db
.DS_Store

# Project Documents
*.pdf

Project Completion.txt
TalktoMind.pdf

# Folders
Datasets/
Documents/